:root {
    --blue: rgb(30, 112, 185);
    --green: rgb(0, 161, 155);
    --pink: rgb(236, 100, 120);
    --orange: rgb(238, 143, 80);
}

/* Makes padding and borders make more sense */
*, *:before, *:after {
    box-sizing: border-box; 
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Change */
    color: white;
    background-color: var(--blue);
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* Background texture */
body::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: center url(images/marble.jpg);
    background-size: 110vmax;
    opacity: 0.04;
    display: none;
}


h1 {
    font-size: 10em;
    text-align: center;
    z-index: 10;
    background-image: url(images/marble.jpg);
    background-size: 60%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-position: center;
    color: rgba(255,255,255,0.09);
    filter: brightness(3.5) contrast(0.9);
}

.decorative-shape {
    margin: 0;
    position: absolute;
}

.decorative-shape:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(images/marble.jpg);
    opacity: 0.2;
    display: none;
}

.polygon-1 {
    width: 60vh;
    height: 70vh;
    background: var(--green);
    clip-path: polygon(38% 7%, 87% 25%, 86% 72%, 20% 89%, 9% 45%);
    animation: shape-change 23s infinite linear alternate;
}

.polygon-2 {
    top: 60vh;
    left: 85vw;
    width: 40vh;
    height: 65vh;
    background: var(--pink);
    clip-path: polygon(32% 9%, 67% 29%, 76% 62%, 35% 84%, 14% 44%);
    animation: shape-change 28s infinite alternate-reverse;
}

.polygon-3 {
    top: -30vh;
    left: -5vw;
    width: 50vh;
    height: 60vh;
    background: var(--green);
    clip-path: polygon(94% 19%, 85% 83%, 35% 100%, 0 55%, 35% 6%);
    animation: shape-change 26s infinite linear alternate-reverse;
}

.polygon-4 {
    top: 78vh;
    left: -10vw;
    width: 55vh;
    height: 50vh;
    background: var(--pink);
    clip-path: polygon(44% 2%, 93% 33%, 92% 82%, 8% 70%, 3% 15%);
    animation: shape-change 24s infinite linear alternate;
}

.polygon-5 {
    top: -10vh;
    left: 88vw;
    width: 30vh;
    height: 35vh;
    background: var(--orange);
    clip-path: polygon(39% 7%, 87% 8%, 83% 80%, 40% 100%, 9% 52%);
    animation: shape-change 17s infinite alternate-reverse;
}

@keyframes shape-change {
    30% {
        clip-path: polygon(48% 9%, 71% 21%, 83% 85%, 24% 73%, 13% 36%);
        transform: matrix(1.35, 0.21, 0.15, 1.15, 55, -40) rotate(65deg); 
    }
    65% {
        clip-path: polygon(22% 2%, 100% 21%, 81% 63%, 20% 76%, 12% 36%);
        transform: matrix(1, 0.1, 0.05, 0.9, 20, -20) rotate(27deg); 
    }
    100% {
        clip-path: polygon(40% 17%, 86% 14%, 86% 88%, 20% 87%, 12% 45%);
        transform: matrix(1.1, 0.15, 0.15, 1, 5, -15) rotate(45deg); 
    }
}